In [2]:
import pandas as pd
import numpy as np

In [3]:
races = pd.read_csv('/home/drumil/Formula_1-master/data collection/races.csv')
results = pd.read_csv('/home/drumil/Formula_1-master/data collection/results.csv')
qualifying = pd.read_csv('/home/drumil/Formula_1-master/data collection/qualifying.csv')
driver_standings = pd.read_csv('/home/drumil/Formula_1-master/data collection/driver_standings.csv')
constructor_standings = pd.read_csv('/home/drumil/Formula_1-master/data collection/constructor_standings.csv')

In [4]:
print(races.shape)
races.head()

(160, 8)

,season,round,circuit_id,lat,long,country,date,url
0,2014,1,albert_park,-37.84970,144.96800,Australia,2014-03-16,http://en.wikipedia.org/wiki/2014_Australian_G...
1,2014,2,sepang,2.76083,101.73800,Malaysia,2014-03-30,http://en.wikipedia.org/wiki/2014_Malaysian_Gr...
2,2014,3,bahrain,26.03250,50.51060,Bahrain,2014-04-06,http://en.wikipedia.org/wiki/2014_Bahrain_Gran...
3,2014,4,shanghai,31.33890,121.22000,China,2014-04-20,http://en.wikipedia.org/wiki/2014_Chinese_Gran...
4,2014,5,catalunya,41.57000,2.26111,Spain,2014-05-11,http://en.wikipedia.org/wiki/2014_Spanish_Gran...

In [5]:
print(results.shape)
results.head()

(3267, 13)

,season,round,circuit_id,driver,date_of_birth,nationality,constructor,grid,time,status,points,podium,url
0,2014,1,albert_park,rosberg,1985-06-27,German,mercedes,3,5578710.0,Finished,25.0,1,http://en.wikipedia.org/wiki/2014_Australian_G...
1,2014,1,albert_park,kevin_magnussen,1992-10-05,Danish,mclaren,4,5605487.0,Finished,18.0,2,http://en.wikipedia.org/wiki/2014_Australian_G...
2,2014,1,albert_park,button,1980-01-19,British,mclaren,10,5608737.0,Finished,15.0,3,http://en.wikipedia.org/wiki/2014_Australian_G...
3,2014,1,albert_park,alonso,1981-07-29,Spanish,ferrari,5,5613994.0,Finished,12.0,4,http://en.wikipedia.org/wiki/2014_Australian_G...
4,2014,1,albert_park,bottas,1989-08-28,Finnish,williams,15,5626349.0,Finished,10.0,5,http://en.wikipedia.org/wiki/2014_Australian_G...

In [6]:
print(qualifying.shape)
qualifying.rename(columns = {'grid_position': 'grid'}, inplace = True)
qualifying.head()

(3229, 7)

,grid,No,driver_name,car,qualifying_time,season,round
0,1,44,Lewis Hamilton HAM,Mercedes,1:44.231,2014,1
1,2,3,Daniel Ricciardo RIC,Red Bull Racing Renault,1:44.548,2014,1
2,3,6,Nico Rosberg ROS,Mercedes,1:44.595,2014,1
3,4,20,Kevin Magnussen MAG,McLaren Mercedes,1:45.745,2014,1
4,5,14,Fernando Alonso ALO,Ferrari,1:45.819,2014,1

In [7]:
driver_standings.drop(['driver_points_after_race', 'driver_wins_after_race', 'driver_standings_pos_after_race'] ,axis = 1, inplace = True)

print(driver_standings.shape)
driver_standings.head()

(3422, 6)

,season,round,driver,driver_points,driver_wins,driver_standings_pos
0,2014,1,rosberg,0.0,0.0,0.0
1,2014,1,kevin_magnussen,0.0,0.0,0.0
2,2014,1,button,0.0,0.0,0.0
3,2014,1,alonso,0.0,0.0,0.0
4,2014,1,bottas,0.0,0.0,0.0

In [8]:
constructor_standings.drop(['constructor_points_after_race', 'constructor_wins_after_race','constructor_standings_pos_after_race' ],axis = 1, inplace = True)

print(constructor_standings.shape)
constructor_standings.head()

(1639, 6)

,season,round,constructor,constructor_points,constructor_wins,constructor_standings_pos
0,2014,1,mclaren,0.0,0.0,0.0
1,2014,1,mercedes,0.0,0.0,0.0
2,2014,1,ferrari,0.0,0.0,0.0
3,2014,1,williams,0.0,0.0,0.0
4,2014,1,force_india,0.0,0.0,0.0

In [9]:
df2 = pd.merge(races, results, how='inner', on=['season', 'round', 'circuit_id', 'url']).drop(['url','points', 'status', 'time'], axis = 1)

df3 = pd.merge(df2, driver_standings, how='left', on=['season', 'round', 'driver']) 
df4 = pd.merge(df3, constructor_standings, how='left', on=['season', 'round', 'constructor']) #from 1958

final_df = pd.merge(df4, qualifying, how='inner', on=['season', 'round', 'grid']).drop(['driver_name', 'car'], axis = 1) #from 1983

In [10]:
final_df.head()

,season,round,circuit_id,lat,long,country,date,driver,date_of_birth,nationality,...,grid,podium,driver_points,driver_wins,driver_standings_pos,constructor_points,constructor_wins,constructor_standings_pos,No,qualifying_time
0,2014,1,albert_park,-37.8497,144.968,Australia,2014-03-16,rosberg,1985-06-27,German,...,3,1,0.0,0.0,0.0,0.0,0.0,0.0,6,1:44.595
1,2014,1,albert_park,-37.8497,144.968,Australia,2014-03-16,kevin_magnussen,1992-10-05,Danish,...,4,2,0.0,0.0,0.0,0.0,0.0,0.0,20,1:45.745
2,2014,1,albert_park,-37.8497,144.968,Australia,2014-03-16,button,1980-01-19,British,...,10,3,0.0,0.0,0.0,0.0,0.0,0.0,22,1:44.437
3,2014,1,albert_park,-37.8497,144.968,Australia,2014-03-16,alonso,1981-07-29,Spanish,...,5,4,0.0,0.0,0.0,0.0,0.0,0.0,14,1:45.819
4,2014,1,albert_park,-37.8497,144.968,Australia,2014-03-16,bottas,1989-08-28,Finnish,...,15,5,0.0,0.0,0.0,0.0,0.0,0.0,77,1:48.147

In [11]:
# calculate age of drivers

from dateutil.relativedelta import *

final_df['date'] = pd.to_datetime(final_df.date)
final_df['date_of_birth'] = pd.to_datetime(final_df.date_of_birth)
final_df['driver_age'] = final_df.apply(lambda x: relativedelta(x['date'], x['date_of_birth']).years, axis=1)
final_df.drop(['date', 'date_of_birth'], axis = 1, inplace = True)

In [12]:
# fill/drop nulls

for col in ['driver_points', 'driver_wins', 'driver_standings_pos', 'constructor_points', 
            'constructor_wins' , 'constructor_standings_pos']:
    final_df[col].fillna(0, inplace = True)
    final_df[col] = final_df[col].map(lambda x: int(x))
    
final_df.dropna(inplace = True )

In [13]:
# get dummies

df_dum = pd.get_dummies(final_df, columns = ['circuit_id', 'nationality', 'constructor'] )

for col in df_dum.columns:
    if 'nationality' in col and df_dum[col].sum() < 140:
        df_dum.drop(col, axis = 1, inplace = True)
        
    elif 'constructor' in col and df_dum[col].sum() < 140:
        df_dum.drop(col, axis = 1, inplace = True)
        
    elif 'circuit_id' in col and df_dum[col].sum() < 70:
        df_dum.drop(col, axis = 1, inplace = True)
    
    else:
        pass

In [14]:
df_dum.shape

(3040, 56)

In [15]:
df_dum.to_csv('final_df.csv', index = False)